<div>Hello World !</div>

<div>Client: {{clientID}}</div>

<div *ngIf="email">
  <div>Email: {{email}}</div>
  <div>Nom: {{name}}</div>

  <button (click)="logout()">LOGOUT</button>
</div>
<div *ngIf="!email">
  <div id="g_id_onload" data-client_id="275268663789-9nt3eguj3l2qg1qqfg68igq7uqmau9bu.apps.googleusercontent.com"
    data-callback="handleCredentialResponse" data-auto_prompt="false"></div>

  <div class="g_id_signin" data-type="standard">
  </div>
</div>


<div>
  <button (click)="loadObjects()">LOAD OBJECTS</button>

  <ul>
    <li *ngFor="let item of objects">{{item.name}} - {{item.weight}}kg</li>
  </ul>
</div>